<section class="container banner col-sm-12 col-md-3">
  <article class="description">
    <p>quick.plus (formerly hello impact) is a place to list and update your humanitarian service data so that other services
        like impact 211 can pick it up - or more importantly, the patrons you serve.</p>
  </article>
</section>

<section class="container lists clearfix col-sm-12">
  <article class="list col-sm-12 col-md-3">
    <div><h2>{{list[0].name}}</h2></div>
    <div class="sharing-list ssk-group ssk-xs ssk-count ssk-grayscale" data-url="http://quick.plus/app/#/shared/{{list.list_owner}}/{{list.id}}" data-text="{{list.name}}">
      <a href="" class="ssk ssk-facebook"></a>
      <a href="" class="ssk ssk-twitter"></a>
      <a href="" class="ssk ssk-google-plus"></a>
      <a href="" class="ssk ssk-pinterest"></a>
      <a href="" class="ssk ssk-linkedin"></a>
    </div>
    <ul class="offering">
      <li ng-repeat="item in list.items">

        title: {{item.title}}<br />

        address:<br />
        {{item.address1}}<br />
        {{item.address2}}<br />

        city: {{item.city}}<br />
        state: {{item.state}}<br />
        zip: {{item.zipcode}}<br />

        country: {{item.country}}<br />

        phone: {{item.phone}}<br />

        <p>{{item.description}}</p>

        hours of operation:<br />

        monday: {{item.hours_monday}}<br />
        tuesday: {{item.hours_tuesday}}<br />
        wednesday: {{item.hours_wednesday}}<br />
        thursday: {{item.hours_thursday}}<br />
        friday: {{item.hours_friday}}<br />
        saturday: {{item.hours_saturday}}<br />
        sunday: {{item.hours_sunday}}<br />

      </li>
    </div>
  </article>
</section>